* {
box-sizing: border-box;
}
.body {
  background-color: grey;
  margin: 0px;
}
.navBar {
  background-color: white;
  display: inline-block;
  height: 45px;
  vertical-align: middle;
  width: 100%;
}
.navBar__image {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  width: 90px;
}
.navBar__search {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
}
.navBar__user {
  border-radius: 100px;
  display: inline-block;
  vertical-align: top;
  width: 30px;
}
.navBar__upload {
  margin-right: 10px;
  position: inherit;
  vertical-align: sub;
}
.navBar__userinfo {
  float: right;
}
/*.body {
  background-color: grey;
}*/
