/** {
box-sizing: border-box;
}*/
.body {
  background-color: rgb(241,241,241);
  margin: 0px;
  width: 100%;
  font-family: sans-serif;
}
.navBar {
  background-color: rgb(255,255,255);
  /*display: block;*/
  height: 36px;
  /*vertical-align: middle;*/
  padding: 9px 20px;
  width: 100%;
}
.navBar__image {
  height: 40px;
  width: 80px;
}
.navBar__search {
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
  /*height: 30px;*/
}
.navBar__form {
  height: 30px;
  display: inline-block;
  float: left;
  width: 500px;
}
.navBar__submit {
  border: solid 1px;
  border-color: rgb(224,224,224);
  border-radius: 0px 2px 2px 0px;
  background-color: rgb(248,248,248);
  display: inline-block;
  height: 36px;
  width: 60px;
  padding: 11px 6px;
}
.navBar__user {
  border-radius: 100px;
  display: inline-block;
  height: 30px;
  margin-right: 40px;
  vertical-align: middle;
  width: 30px;
}
.navBar__upload {
  margin-right: 10px;
  border: solid 1px;
  background-color: rgb(248,248,248);
  border-color: rgb(224,224,224);
  border-radius: 2px;
  height: 36px;
  position: inherit;
}
.navBar__userinfo {
  float: right;
  vertical-align: middle;
}
.video__element {
  height: 460px;
  width: 100%;
  margin-bottom: 8px;
  /*margin-left: 7%;*/
  /*padding-bottom: 8px;
  padding-top: 8px;
  width: 50%;*/
}
.main {
  margin-left: 8%;
  margin-top: 8px;
  margin-bottom: 0px;
  /*padding-bottom: 8px;
  padding-top: 8px;*/
  width: 50%;
}
.video__details {
  background-color: rgb(255, 255, 255);
  /*margin-top: 10px;*/
  padding: 10px 5px 10px 5px;
  /*margin-left: 7%;
  width: 50%;*/
}
.h1__text {
  padding: 0px;
}
.underlineThis {
  margin-top: 10px;
  margin-bottom: 0px;
  border-bottom: solid;
  border-width: 1px;
  color: rgb(217, 217,217);
  padding-bottom: 2px;
}
.uploader__pic {
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: top;
}
.uploader__username {
  vertical-align: top;
  color: black;
  font-size: 12px;
  text-decoration: none;
}
.uploader__subscribe {
  background-color: rgb(211, 57, 41);
  border: solid;
  border-color: rgb(211, 57, 41);
  border-radius: 2px 0px 0px 2px;
  border-width: 1px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  text-decoration: none;
  padding: 4px 8px;
}
.uploader__count {
  background-color: rgb(250, 250, 250);
  border: solid;
  border-color: rgb(217, 217, 217);
  border-width: 1px;
  border-radius: 0px 2px 2px 0px;
  color: rgb(97, 97, 97);
  font-size: 11px;
  text-decoration: none;
  padding: 4px 8px;
}
.video__views {
  border-bottom: solid;
  border-color: rgb(55, 122, 192);
  border-width: thin;
  color: rgb(128, 128, 128);
  float: right;
  font-weight: normal;
  font-size: 11px;
  margin: 0;
  padding-bottom: 14px;
}
.uploader__aside {
  display: inline-block;
  width: 90%;
}
.share__buttons {
display: inline-block;;
width: 100%;
padding-top: 6px;
}
.likes {
  display: inline-block;
  float: right;
}
.h2__text {
  padding: 0px;
}
.video__info {
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  margin-top: 10px;
  padding: 10px 5px 10px 5px;
}
.show__more {
  color: rgb(128, 128, 128);
  margin-left: 40%;
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
}
