/* Main CSS */
.body{
  background-color: rgb(246,246,246);
}
.itemList__item{
  background-color: rgb(236,236,236);
  border-width: thin;
  border-style: solid;
  height: 45px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  width: 60%;
}
.expand{
  height: 250px;
  background-color: white;
}
.mainTitle{
  background-color: rgb(236,236,236);
  padding-top: 20px;
  padding-bottom: 20px;
}
